.heroSection {
  padding: 45px 0 332px;
  background-image: url(../../../../public/images/hero/dotesBG.svg),
    url(../../../../public/images/hero/ice-creams.png),
    url(../../../../public/images/hero/bigIceCream.png);
  background-repeat: no-repeat;
  background-size: 1200px auto, 225px 225px, 456px 560px;
  background-position: bottom 0 left calc(50% + 8px),
    bottom 65px left calc(50% - 467px), bottom 0 right calc(50% - 312px);
}
.btnContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.heroContainer {
  position: relative;
}
.heroContent {
  display: grid;
  gap: 24px;
  position: absolute;
  bottom: -248px;
  left: 241px;
}
.quantityList {
  display: grid;
  justify-items: end;
  position: absolute;
  right: 0;
  top: 0;
  li {
    text-align: end;
  }
}
